body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: white;
}
.producto-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

mat-card {
  width: 250px;
}
